.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background: var(--dark-background);
    padding: 20px;
    border-radius: 8px;
    width: 320px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.btn.danger {
    background: #e74c3c;
    color: white;
}