.hero {
    width: 100%;
    min-height: 70vh;

    display: flex;
    justify-content: center;

    padding: 5rem 2rem;

    background: linear-gradient(to bottom, transparent, rgba(255,255,255,0.02));
}

.hero-inner {
    width: 100%;
    max-width: 1500px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 4rem;
}

.hero-text {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.hero-text h1 {
    font-size: 3rem;
    line-height: 1.1;
}

.hero-image {
    width: 100%;
    max-width: 580px;

    height: auto;
    flex-shrink: 0;

    border-radius: 18px;

    box-shadow: 0 20px 50px rgba(0,0,0,0.35);
}


#home-body {
    width: 100%;
    padding: 3rem 6rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}


.github-btn {
    background-color: var(--dark-secondary);
    color: var(--dark-text);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

    border: none;
    border-radius: 6px;
    font-weight: 550;

    transition: transform 0.10s ease-in-out;
}

.github-btn:hover {
    transform: translateY(-2px);
}

.brand {
    color: var(--dark-accent);
    font-weight: 700;
    letter-spacing: 0.5px;
}